.wrapper {
    height: 80px;
}

.add_row_btn {
    font-size: 30px;
    background-color: limegreen;
    padding: 10px;
    width: 100px;
    color: lightgray;
    margin: auto 0;
}

.add_row_btn:hover {
    transition: 0.2s;
    box-shadow: 2px 1px 4px 1px black;
}