* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button, input, textarea {
    outline: none;
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

.table_simulator {
    display: table;
}
.row_simulator {
    display: table-row;
}
.cell_simulator {
    display: table-cell;
    width: 25%;
}

.table_simulator > .row_simulator:nth-child(1) {
    background-color: cornflowerblue;
    font-weight: bold;
}

